<!DOCTYPE html>
<html>
    <head>
        <title> My First HTML Page</title>
    </head>
    <body>
        <!-- Commenting -->
        <h1> Heading One</h1>
        <h2> Second one</h2>
        <h3> even smaller</h3>
        <h4> tiny </h4>
        <h5> damn</h5>
        <h6> okay this is nuts dude</h6>

        <p>
            Lorem <strong> ipsum </strong> dolor <em>sit</em> amet, consectetur adipisicing elit. Beatae distinctio iste maiores perferendis, sunt ullam voluptate? Asperiores eligendi et excepturi fuga libero nesciunt obcaecati officiis, optio praesentium quos reprehenderit vero!
        </p>

        <ol>
            <li>Hello</li>
            <li>Darkness</li>
            <li>my old friend</li>

        </ol>

        <table>
            <thead>
                <tr>
                    <th> Name </th> <th> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Sara </td>
                    <td> sara@gmail.com</td>
                </tr>
            </tbody>
        </table>

        <form action="process.php" method="POST">
            <div>
                <label> First Name </label>
                <input type="text" name="firstName">
            </div>
            <br>
            <div>
                <label> Last Name </label>
                <input type="text" name="lastName">
            </div>

            <br>
            <input type="submit" name="submit" value="Submit">
        </form>

        <img src="picture.png">


    <div style="margin-top:500px"></div>


    </body>
</html>